.sidebar {
  min-height: 100%;
  height: 100vh;
  width: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.3s width;
  background: #37146B;
  position: relative;
  overflow: hidden;
}
.expanded {
  width: 60px;
}
.sidebar:hover{
  width: 260px;
}
.sidebar:hover span{
  display:initial;
}
.sidebar span{
  display: none;
 }

.nav_items_container {
  width: 100%;
}

.nav_items {
  margin: 10px;
  padding: 10px 20px;
  pointer-events: all;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar:hover .nav_items{
  justify-content: start
}


.active .nav_items{
  background-color: #6008e4 !important;
}

.nav_items_container>*:first-child {
  margin-top: 1rem;
  background-color: transparent;
}

.nav_items:hover {
  background-color: #6008e4;
}


.top{
  font-size: 25px;
}
.top:hover {
  background-color: transparent;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.badge {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 10px;
  background-color: #6008e4;
}

.title {
  padding-left: 10px;
}